body {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.FTACommunity {
  background-image: url("../assets/FtaCommunityBackgroundImg.png");
  margin: auto;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FTACommunity .blinking-image {
  animation: blink-animation 1.5s ease-in-out infinite;
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.FTACommunity.LandingPage {
  position: relative;
}
.FTACommunity.LandingPage .LandingPageImgSection {
  position: absolute;
  max-width: calc(100% - 120px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1699px) {
  .FTACommunity.LandingPage .LandingPageImgSection {
    max-width: 100%;
    padding-left: 0;
  }
}
.FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg1 {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 626px;
  width: 100%;
  max-height: calc(100vh - 187px);
  height: 100vh;
  margin-top: auto;
  z-index: 1;
}
@media screen and (max-width: 1499px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg1 {
    max-width: 500px;
    max-height: calc(100vh - 100px);
  }
}
@media screen and (max-width: 1200px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg1 {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg1 {
    max-width: 300px;
  }
}
.FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg2 {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 858px;
  width: 100%;
  max-height: calc(100vh - 30px);
  height: 100vh;
}
@media screen and (max-width: 1499px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg2 {
    max-width: 650px;
  }
}
@media screen and (max-width: 1200px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg2 {
    max-width: 500px;
    max-height: calc(100vh - 30px);
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity.LandingPage .LandingPageImgSection .LandingPageImg2 {
    max-width: 400px;
    max-height: calc(100vh - 145px);
  }
}
.FTACommunity .InnerPage {
  max-width: 600px;
  width: 100%;
  padding: 40px;
  height: auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(20.3999996185px);
          backdrop-filter: blur(20.3999996185px);
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage {
    max-width: 450px;
    padding: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .FTACommunity .InnerPage {
    padding: 20px;
    gap: 15px;
    max-width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage {
    max-width: 300px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage {
    padding: 15px;
    gap: 10px;
  }
}
.FTACommunity .InnerPage h1 {
  color: #fff;
  text-align: center;
  font-family: "Anton", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  margin: 0;
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage h1 {
    font-size: 20px;
  }
}
.FTACommunity .InnerPage h2 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .FTACommunity .InnerPage h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage h2 {
    font-size: 12px;
    line-height: 15px;
  }
}
.FTACommunity .InnerPage a {
  text-decoration: none;
}
.FTACommunity .InnerPage button {
  max-width: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 22px;
  background: #e5553f;
  box-shadow: 0px 6px 51.2px 0px rgba(6, 8, 41, 0.38);
  border: none;
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage button {
    padding: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage button {
    font-size: 10px;
    padding: 10px;
  }
  .FTACommunity .InnerPage button span svg {
    height: 10px;
    width: 12px;
  }
}
.FTACommunity .InnerPage p,
.FTACommunity .InnerPage li {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
.FTACommunity .InnerPage p span,
.FTACommunity .InnerPage li span {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage p,
  .FTACommunity .InnerPage li {
    font-size: 12px;
    line-height: 15px;
  }
}
.FTACommunity .InnerPage img {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 1200px) {
  .FTACommunity .InnerPage img {
    height: 80px;
    width: 80px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage img {
    height: 60px;
    width: 60px;
  }
}
.FTACommunity .InnerPage .otp-section {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
}
.FTACommunity .InnerPage .otp-section .otp-input {
  display: flex;
  max-width: 60px;
  width: 100%;
  height: 60px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #66637b;
  background: #2c2941;
  box-shadow: 0px 6px 51.2px 0px rgba(6, 8, 41, 0.38);
  color: #fff;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage .otp-section .otp-input {
    height: auto;
    padding: 4px;
    font-size: 25px;
  }
}
.FTACommunity .InnerPage .otp-section .otp-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.FTACommunity .InnerPage .otp-section .otp-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.FTACommunity .InnerPage input.inputType {
  border-radius: 6px;
  border: 1px solid #66637b;
  background: #2c2941;
  box-shadow: 0px 6px 51.2px 0px rgba(6, 8, 41, 0.38);
  display: flex;
  padding: 11px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.FTACommunity .InnerPage input.inputType::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.FTACommunity .InnerPage input.inputType::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage input.inputType {
    padding: 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage input.inputType {
    padding: 0px;
    font-size: 10px;
  }
}
.FTACommunity .InnerPage .InnerPageButtonSection {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage .InnerPageButtonSection {
    gap: 10px;
  }
}
.FTACommunity .InnerPage .InnerPageButtonSection.requirementButton .requirementButtonPara,
.FTACommunity .InnerPage .InnerPageButtonSection.requirementButton li {
  font-size: 14px;
  line-height: normal;
}
.FTACommunity .InnerPage .InnerPageButtonSection.requirementButton .requirementButtonPara span,
.FTACommunity .InnerPage .InnerPageButtonSection.requirementButton li span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (max-width: 575px) {
  .FTACommunity .InnerPage .InnerPageButtonSection.requirementButton .requirementButtonPara,
  .FTACommunity .InnerPage .InnerPageButtonSection.requirementButton li {
    font-size: 12px;
  }
  .FTACommunity .InnerPage .InnerPageButtonSection.requirementButton .requirementButtonPara span,
  .FTACommunity .InnerPage .InnerPageButtonSection.requirementButton li span {
    font-size: 12px;
  }
}
.FTACommunity .InnerPage .InnerPageButtonSection .Terms-Policy {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scrollbar-width: none;
}
.FTACommunity .InnerPage .pswdRequirement {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.FTACommunity .InnerPage .pswdRequirement .pswdRequirementCol {
  align-items: start;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.FTACommunity .InnerPage .pswdRequirement .pswdRequirementCol p {
  display: flex;
  gap: 8px;
  text-align: start;
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage .pswdRequirement .pswdRequirementCol p {
    gap: 4px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage .pswdRequirement .pswdRequirementCol {
    gap: 4px;
  }
}
.FTACommunity .InnerPage.landingInnerPage {
  max-height: 100vh;
}
.FTACommunity .InnerPage.landingInnerPage h1 {
  font-size: 80px;
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage.landingInnerPage h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .FTACommunity .InnerPage.landingInnerPage h1 {
    font-size: 30px;
  }
}
.FTACommunity .InnerPage.landingInnerPage h1 span {
  color: #b4d5dc;
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage.landingInnerPage h1 {
    font-size: 25px;
  }
}
.FTACommunity .InnerPage.landingInnerPage button {
  font-size: 24px;
  padding: 14px;
}
@media screen and (max-width: 1499px) {
  .FTACommunity .InnerPage.landingInnerPage button {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity .InnerPage.landingInnerPage button {
    font-size: 14px;
    padding: 10px;
  }
}
.FTACommunity.createAccountPage {
  background-image: url("../assets/CreateAccountBackImg.png");
  gap: 132px;
  justify-content: end;
  padding: 0 90px;
}
@media screen and (max-width: 1200px) {
  .FTACommunity.createAccountPage {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .FTACommunity.createAccountPage {
    padding: 0 20px;
  }
}
@media screen and (max-width: 575px) {
  .FTACommunity.createAccountPage {
    padding: 10px;
    gap: 10px;
  }
}
.FTACommunity.createAccountPage .createAccountImg {
  max-width: 858px;
  width: 100%;
}
.FTACommunity.createAccountPage .createAccountImg img {
  margin-bottom: auto;
  height: 100vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.FTACommunity .classStudentPopup {
  border-radius: 22px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(20.3999996185px);
          backdrop-filter: blur(20.3999996185px);
  max-height: 100vh;
}
@media screen and (max-width: 1200px) {
  .FTACommunity .classStudentPopup {
    max-width: 500px;
  }
}
.FTACommunity .classStudentPopup p,
.FTACommunity .classStudentPopup li {
  line-height: normal;
}
.FTACommunity .classStudentPopup .classBodyContent {
  border-radius: 22px;
  border: 1px solid rgba(180, 213, 220, 0.3);
  padding: 16px;
}
.FTACommunity .classStudentPopup .classStudentSvgBg {
  height: 33px;
  width: 33px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.FTACommunity .classStudentPopup .classStudentSvgBg .classStudentInnerSvgBg {
  color: #060829;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.FTACommunity .classStudentPopup .classPopupButton button {
  padding: 19px;
}
.FTACommunity .classStudentPopup .classStudentInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.DashBoardPage {
  background: #060829;
  min-height: 100vh;
  padding: 50px;
  gap: 30px;
  display: flex;
  font-family: "Roboto", serif;
}
@media screen and (max-height: 1079px) {
  .DashBoardPage {
    padding: 30px;
  }
}
@media screen and (max-height: 990px) {
  .DashBoardPage {
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage {
    gap: 15px;
    padding: 30px;
  }
}
.DashBoardPage a {
  color: inherit;
  text-decoration: none;
}
.DashBoardPage h1 {
  color: #b4d5dc;
  margin: 0;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage h1 {
    font-size: 30px;
  }
}
.DashBoardPage h2, .DashBoardPage .selectLabel {
  height: 23px;
  color: #b4d5dc;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage h2, .DashBoardPage .selectLabel {
    font-size: 16px;
  }
}
.DashBoardPage p, .DashBoardPage .selectOptions {
  color: #b4d5dc;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage p, .DashBoardPage .selectOptions {
    font-size: 14px;
  }
}
.DashBoardPage div#offcanvasScrolling {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.DashBoardPage .active {
  border-radius: 30px;
  border: 1px solid #b4d5dc;
}
.DashBoardPage .sideBar2 {
  display: none;
  max-width: 270px;
}
.DashBoardPage .sideBar2 .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.DashBoardPage .sideBar2 button.text-reset {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"%3E%3Cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" d="m15.5 15.5l-10-10zm0-10l-10 10" stroke-width="1"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-left: 10px;
}
.DashBoardPage .sideBar2 button {
  display: none;
  padding: 0;
  border: none;
}
.DashBoardPage .sideBar2 button:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .sideBar2 {
    display: block;
  }
  .DashBoardPage .sideBar2 .sideBar {
    display: block;
  }
  .DashBoardPage .sideBar2 button {
    display: block;
  }
}
.DashBoardPage .sideBar {
  max-width: 306px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: linear-gradient(180deg, #090b3b 0%, #0b1176 100%);
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .sideBar {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .DashBoardPage .sideBar {
    max-width: 326px;
  }
}
.DashBoardPage .sideBar h1 {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-transform: capitalize;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .DashBoardPage .sideBar h1 {
    font-size: 20px;
  }
}
.DashBoardPage .sideBar button {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  text-align: center;
  color: #b4d5dc;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 1px;
}
.DashBoardPage .sideBar button:focus {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .DashBoardPage .sideBar button {
    font-size: 14px;
  }
}
.DashBoardPage .sideBar .sideBarTopSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.DashBoardPage .sideBar .sideBarBottomSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.DashBoardPage .DashBoardInnerPage {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 336px);
  width: 100%;
  gap: 30px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage {
    max-width: calc(100% - 76px);
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .DashBoardPage .DashBoardInnerPage {
    gap: 15px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 {
    gap: 20px;
  }
}
@media screen and (min-height: 769px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 {
    height: calc(100vh - 180px);
  }
}
@media screen and (min-height: 769px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1.DashBoardGradeDetailPage {
    height: calc(100vh - 180px);
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 520px);
  gap: 30px;
}
@media screen and (max-width: 1400px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeSection {
    max-width: calc(100% - 350px);
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeSection {
    gap: 20px;
  }
}
@media screen and (max-width: 992px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeSection {
    max-width: calc(100% - 250px);
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent {
  border-radius: 30px;
  background: #090b3b;
  padding: 20px 30px;
  width: 100%;
  gap: 45px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-height: 1045px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent {
    gap: 30px;
    padding: 15px 30px;
  }
}
@media screen and (max-height: 990px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent {
    gap: 20px;
    padding: 10px 30px;
  }
}
@media screen and (max-width: 1400px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent {
    padding: 10px 20px;
    gap: 30px;
  }
}
@media screen and (min-height: 769px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent {
    height: calc(100vh - 180px);
  }
}
@media screen and (max-height: 768px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.GradeDetailInner {
    height: calc(100vh - 180px);
  }
}
@media screen and (min-height: 769px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.GradeDetailInner {
    height: 100%;
  }
}
@media screen and (min-height: 768px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.GradeInnerSection1,
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeInnerSection2 {
    height: 50%;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.TodaySection {
  max-width: 450px;
  width: 100%;
}
@media screen and (min-height: 1080px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.TodaySection {
    height: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.TodaySection {
    max-width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.TodaySection {
    max-width: 250px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.ClassInnerContent {
  padding: 20px 30px 43px 30px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeHeadContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeHeadContent svg {
    height: 50px;
    width: 50px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeParaContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeParaContent.GradeScroll {
  overflow-x: scroll;
  scrollbar-width: none;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeLogo {
  margin-left: -1px;
  width: 60px;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeLogo {
    height: 40px;
    width: 40px;
    padding: 8px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .Grades {
  display: flex;
  padding: 0px 30px 0px 0px;
  align-items: center;
  gap: 16px;
  border-radius: 30px;
  background: #f3b8af;
  box-shadow: 0px 6px 51.2px 0px rgba(6, 8, 41, 0.38);
  border: none;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .Grades {
    gap: 12px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .Grades p {
  color: #060829;
  text-transform: uppercase;
  font-weight: 900;
  flex-wrap: wrap;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  background: rgba(11, 17, 114, 0.5);
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText {
    padding: 8px 10px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText.WeeklyText p {
  color: rgba(229, 85, 63, 0.8);
  font-size: 16px;
}
@media screen and (max-width: 1025px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText.WeeklyText p {
    font-size: 14px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText .card-innerLogo {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #060829;
  padding: 5px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText .card-innerLogo.WeeklyLogo {
  height: 33px;
  width: 33px;
  background-color: #e5553f;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-innerText p {
  font-size: 14px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody {
  height: 732px;
}
@media screen and (min-height: 768px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody {
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody {
    height: 500px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 22px;
  padding-bottom: 0;
  padding-top: 3px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody {
    padding-right: 20px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #111455;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #0c1174;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .StudentContentBody::-webkit-scrollbar-thumb:hover {
  border-radius: 100px;
  background: #0c1174;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group {
  display: flex;
  gap: 16px;
  height: 100%;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group.GradeCardGroup {
  width: 994px;
}
@media screen and (min-width: 1920px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group.GradeCardGroup {
    width: 1433px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group.WeekSection {
  width: 2896px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card {
  max-width: 304px;
  width: 100%;
  padding: 15px;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid rgba(180, 213, 220, 0.3);
  background-color: transparent;
}
@media screen and (min-width: 1920px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card {
    padding: 10px;
    gap: 10px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card .card-text {
  align-items: center;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card .card-text span > p {
  font-size: 24px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card .card-text span > p {
    font-size: 20px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card.WeeklyCard {
  max-width: 400px;
  width: 100%;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .card-group .card.WeeklyCardClassTab {
  max-width: 100%;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection {
  width: 944px;
}
@media screen and (min-width: 1920px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection {
    width: 1011px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeBottomLogo {
  height: 33px;
  width: 33px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeBottomLogo p {
  text-align: center;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne {
  padding: 13px 30px;
  height: 60px;
  justify-content: space-between;
  background: linear-gradient(90deg, #b4d5dc 0%, #d7786a 79.13%, #e5553f 100%);
}
@media screen and (min-width: 1920px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne {
    height: auto;
    padding: 5px 10px;
  }
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne p {
    font-size: 16px !important;
  }
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne span {
    padding-right: 5px !important;
  }
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeOne span p {
    font-size: 20px !important;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeTwo {
  padding: 13px 16px;
  background: #b4d5dc;
  gap: 4px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeTwo p {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeTwo {
    padding: 5px 10px;
  }
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeTwo p {
    font-size: 14px !important;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeFour {
  background: #e5553f;
  align-items: center;
  text-align: center;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .GradeBottomSection .GradeFour p {
  color: #fff;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll {
    padding-bottom: 20px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll::-webkit-scrollbar {
  height: 12px;
  width: 0px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #111455;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #0c1174;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent .WeeklySectionScroll::-webkit-scrollbar-thumb:hover {
  border-radius: 100px;
  background: #0c1174;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeInnerContent.GradeTabHeadSection {
  flex-direction: row;
  justify-content: space-between;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 23px 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner {
    gap: 8px;
  }
}
@media screen and (max-height: 1079px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner {
    height: 84%;
  }
}
@media screen and (min-height: 1080px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner {
    height: 88%;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent {
  height: 710px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent {
    height: 500px;
  }
}
@media screen and (min-height: 768px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent {
    height: auto;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent .SelectBelt .selectOptions {
  background-color: transparent;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent .SelectBelt .selectOptions:hover {
  background-color: transparent;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent .custom-optgroup {
  background-color: #222;
  color: white;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table {
  width: 100%;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border-bottom: 0.5px solid rgba(180, 213, 220, 0.3);
  padding: 10px 0;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr .tableData1 {
  padding: 0 24px 0 7px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr .tableData2 {
  font-weight: 400;
  padding: 0 24px;
  border-right: 0.5px solid rgba(180, 213, 220, 0.3);
  border-left: 0.5px solid rgba(180, 213, 220, 0.3);
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr .detailTableData2 {
  border-right: none;
  font-size: 16px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr .tableData3 {
  padding: 0 0 0 24px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td {
  display: flex;
  align-items: center;
  padding: 0;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowSvg {
  width: 40px;
  height: 41px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowSvg.TableRowSvg2 {
  background-color: #ff0000;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowSvg.TableRowSvg3 {
  background-color: #008cff;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowSvg.TableRowSvg4 {
  background-color: #ffee00;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowEndBoxContent {
  border-radius: 6px;
  background: #2c2941;
  width: 41px;
  height: 41px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  border: none;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowEndBoxContent::-moz-placeholder {
  color: #fff;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowEndBoxContent::placeholder {
  color: #fff;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowEndBoxContent:focus {
  box-shadow: none;
  outline: none;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent table tr td .TableRowEndContent {
  font-size: 24px;
  font-weight: 800;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr {
  padding: 7px 0 8px 0;
  border-top: 0.5px solid rgba(180, 213, 220, 0.3);
  border-bottom: none;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.DetailTableRow {
  padding: 7px 0 24px 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.DetailTableRow {
    padding: 5px 0 12px 0;
  }
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr {
    padding: 4px 0;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailNotesContent {
  padding: 16px 0 8px 0;
  border: none;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailNotesContent {
    padding: 8px 0 4px 0;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailNotesContent p {
  font-weight: 700;
  text-transform: uppercase;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.DetailRowData-NotesSvg {
  padding-bottom: 16px;
  border: none;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.DetailRowData-NotesSvg {
    padding-bottom: 8px;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailsTableHeading {
  padding: 30px 0 8px 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailsTableHeading {
    padding: 15px 0 4px 0;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailsTableHeadingChange {
  padding: 30px 0 16px 0;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr.GradeDetailsTableHeadingChange {
    padding: 15px 0 8px 0;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr .tableData1 {
  padding: 0 24px 0 12px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeBodyContent.GradeDetailContent table tr td .TableRowSvg {
  background-color: transparent;
  height: 24px;
  width: 24px;
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeTabScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 32px;
  padding-bottom: 0;
  padding-top: 3px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeTabScroll {
    padding-right: 20px;
  }
}
@media screen and (min-height: 768px) {
  .DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeTabScroll {
    height: 100%;
  }
}
.DashBoardPage .DashBoardInnerPage .DashBoardPage1 .GradeTabSectionInner .GradeTabScroll::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
.DashBoardPage .DashBoardInnerPage .DashboardFooterSection h2 {
  width: 371px;
}
.DashBoardPage .DashBoardInnerPage .DashboardFooterSection p {
  width: 290px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .DashBoardInnerPage .DashboardFooterSection {
    gap: 10px !important;
  }
  .DashBoardPage .DashBoardInnerPage .DashboardFooterSection h2 {
    font-size: 14px;
    width: 270px;
  }
  .DashBoardPage .DashBoardInnerPage .DashboardFooterSection p {
    margin-left: 0 !important;
    font-size: 12px !important;
  }
  .DashBoardPage .DashBoardInnerPage .DashboardFooterSection span svg {
    height: 40px;
    width: 80px;
  }
}
.DashBoardPage .GradeDetailFooter {
  max-width: 100%;
  border-radius: 30px;
  background: #b4d5dc;
  box-shadow: 0px 6px 51.2px 0px rgba(6, 8, 41, 0.38);
  display: flex;
  padding: 11px 30px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .GradeDetailFooter {
    padding: 8px 20px;
  }
}
.DashBoardPage .GradeDetailFooter .detailFooterSvg {
  height: 33px;
  width: 33px;
  background-color: #060829;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashBoardPage .GradeDetailFooter .DetailFooterSection {
  display: flex;
  align-items: center;
  gap: 12px;
}
.DashBoardPage .GradeDetailFooter .DetailFooterSection span {
  display: flex;
  gap: 30px;
}
.DashBoardPage .GradeDetailFooter .DetailFooterSection h2 {
  color: #060829;
  height: auto;
  font-weight: 900;
}
.DashBoardPage .GradeDetailFooter .DetailFooterSection .FooterSectionSpan1 {
  color: #0a1857;
  font-weight: 800;
}
.DashBoardPage .GradeDetailFooter .DetailFooterSection .FooterSectionSpan2 h2 {
  font-size: 32px;
}
@media screen and (max-width: 1200px) {
  .DashBoardPage .GradeDetailFooter .DetailFooterSection .FooterSectionSpan2 h2 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */